*{
    margin: 0;
}
.upper{
    display: inline;
    background-color: lavender;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    height: fit-content;
    width: fit-content;
}

.Freeeze{
    font-size: 40px;
}
.info{
    display: inline-block;
    padding: 40px;
}