*{
    margin: 0;
    align:center;
}
#header {
    align: center;
    display: inline-flex;
    margin: 0 35px;
    background-color: rgb(238, 235, 236);
    padding-top: 41px;
    padding-bottom: 27px;
    padding-left: 10px;
    padding-right: 10px;
    height: fit-content;
    position: relative;
    
}

.icon{
    font-size: 40px;
}
.info{
    /* align:center; */
    display: inline-block;
    padding: 40px;
}